# Node
node_modules/
 npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
*.log.*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Env
.env
.env.*
.env.local

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Dist/build
build/
dist/
.out/
.next/
.cache/
